@charset "utf-8";

.listing-page {
  overflow: hidden;
  padding: 80px 0;
}
.result-sorting-wrapper {
  background: #f5f5f5 none repeat scroll 0 0;
  overflow: hidden;
  padding: 200px 30px;
}
.product-listing-m {
  margin: auto;
  overflow: hidden;
}
.product-listing-img {
  width: 40%;
  height:30%;
  position:relative;
  overflow:hidden;
}
.product-listing-content h5 {
  margin-bottom: 2px;
}
.product-listing-content h5 a {
	color:#111;
}
.product-listing-content ul {
  margin: 0 auto;
  /* overflow: hidden; */
  padding: 0;
}
.product-listing-content li {
  float: left;
  font-size: 13px;
  font-weight: 400;
  list-style: outside none none;
  margin: 0 auto;
  width: 33%;
}
.product-listing-content li .fa {
  font-size: 15px;
  margin-right: 8px;
}
.sidebar_widget {
  border: 2px solid #e6e6e6;
  margin: 0 auto 40px;
  padding: 20px 16px 30px;
  position: relative;
}
.widget_heading {
  margin-bottom:26px;
}
.widget_heading i {
	margin:0 5px 0 0;	
}